<%= form_with(model: apun_self_evaluation) do |form| %>
  <% if apun_self_evaluation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(apun_self_evaluation.errors.count, "error") %> prohibited this apun_self_evaluation from being saved:</h2>
      <ul>
        <% apun_self_evaluation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <% (1..14).each do |question_number| %>
    <p class="text-left mb-2 text-lg tracking-tight text-gray-900 dark:text-white"><%= "#{question_number}- #{::ApunSelfEvaluation::QUESTIONS["question#{question_number}".to_sym]}" %></p>
      <div class="mb-5">
        <%= form.text_area "answer#{question_number}".to_sym, class: "w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder:"Respuesta", aria:"With textarea", autocomplete: 'off' %>
      </div>
    <% end %>
    <%= form.hidden_field :blog_id, value: apun_self_evaluation.blog_id || blog.id %>
    <button>
      <%= form.submit "Crear Autoevaluación", class: "text-white bg-blue-700 mb-10 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </button>
  </div>
<% end %>
