<!DOCTYPE html>
<html>
  <head>
    <title>Apun</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto lg:py-16 lg:px-6">
        <p style="color: green"><%= notice %></p>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
